.container {
  background-color: rgb(37, 44, 79);
  position: relative;
  border: 1px solid white;
  border-radius: 7px;
  max-width: 20em;
  min-width: 15em;
  min-height: 1.5em;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.5em;
}

.value {
  color: black;
  flex-grow: 1;
  flex-wrap: wrap;
  display: flex;
  gap: 6px;
}

.value button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 7px;
  font-size: 13px;
  padding: 7px;
}

.selectedValuesContainer {
  flex-grow: 1;
  flex-wrap: wrap;
}

button {
  font-size: 25px;
}

.clear-btn {
  background: transparent;
  color: white;
  border: none;
}

.crt-btn {
  background-color: transparent;
  color: white;
  height: 40px;
  width: 40px;
  border: none;
}

.divider {
  align-self: stretch;
  background-color: white;
  width: 0.05em;
}

.options {
  background-color: rgb(37, 44, 79);
  position: absolute;
  top: calc(100% + 0.5em);
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 15em;
  overflow-y: auto;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px;
  z-index: 2;
  font-size: 13px;
  display: none;
}

.options.show {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  cursor: pointer;
  border-radius: 4px;
  padding: 7px 14px;
  background-color: white;
  color: black;
}
