.header {
  height: 70px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: white;
}

.navlinks {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.navlinks .link {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.searchIcon {
  cursor: pointer;
}

.menuIcon {
  display: none;
}

.navlinks.open {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  padding: 20px 40px;
  align-items: baseline;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(7px);
}

.header.open {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(7px);
}

.menuIcon > span {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navlinks {
    display: none;
  }

  .menuIcon {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .logo {
    font-size: 20px;
  }
}
