.circular__progress__container {
  /* height: 50px;
  width: 50px; */
  font-size: 20px;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
}

.extra__small {
  height: 50px;
  width: 50px;
}

.small {
  height: 70px;
  width: 70px;
}

.medium {
  height: 90px;
  width: 90px;
}

.circular__progress__text {
  font-size: 25px;
}

@media screen and (max-width: 600px) {
  .circular__progress__container {
    height: 40px;
    width: 40px;
  }
}
