.trending__container {
  padding-block: 20px;
  color: white;
}

.carousel__container {
  display: flex;
  gap: 15px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trending__carousel__container {
  display: flex;
  gap: 15px;
}

@media screen and (max-width: 600px) {
  .header h2 {
    font-size: 18px;
  }
}
